body{
    background-color: #000000;
    color: white;

}

body div{
    margin: 0px 25px 25px 25px;
    padding: 25px;
    background-color: #2a2a2a;
    
}

header{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    background-color: #121212;
    padding: 15px;
}

h1{
    color: crimson;
    font-size: 72px;
    text-shadow:  2px 2px 7px #bb3c3c;
    float: left;
    margin: 0px;
    font-style: italic;
}

h1 a{
    color: inherit;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

nav{
    text-align: right;
    margin-right: 65px;
}

nav a{
    color: white;
    text-decoration: none;
}

h2{
    text-shadow: 2px 2px 7px #777777;
}

ul{
    list-style: none;
    display: inline-block;
    text-align: right;
}

li{
    display: inline;
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

section div{
    text-align: center;
}

section .egzaminy div{
    text-align: center;
    margin: 0px;
    width: 250px;
    display: inline-block;
}

section div p{
    text-align: center;
}

p.symbol{
    margin: 0px;
    padding: 0px;
    font-size: 62px;
    text-align: center;
}

section .skils{
    width: 95%;
    clear: both;
}

section div figure{
    text-align: center;
    
    display: inline-block;
}

.doswiadczenie{
    
}

img{
    height: 80px;
    width: 72px;
}
